
@font-face {
    font-family: "Minimal";
    src: url("../font/minimal.otf") format("opentype");
}
@font-face {
    font-family: "Varino";
    src: url("../font/Varino.ttf");
}
@font-face {
    font-family: "Botany";
    src: url("../font/Botany.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #1B2326;
    --second-bg-color: #3A4F52;
    --text-color: #F5FEFD;
    --main-color: #10F5CC;
    
    --Judul-font: 'Varino', sans-serif;
    --main-font: 'Minimal', sans-serif;
    --main-font2: 'Botany', sans-serif;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--second-bg-color);
    color: var(--text-color);
}

span {
    color: var(--main-color);
    font-family: var(--Judul-font);
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.back-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
    font-family: var(--main-font);
    font-size: 2rem;
    letter-spacing: 5px;
    cursor: pointer;
}

.back-link2 {
    display: none;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
    font-family: var(--main-font);
    font-size: 2rem;
    letter-spacing: 5px;
}

.back-link:hover {
    color: var(--main-color);
    animation: moveRight 1s infinite;
}

.back-link i {
    font-size: 1.87rem;
    margin-right: 8px;
}

@keyframes moveRight {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-30px);
    }
    100% {
        transform: translateX(0);
    }
}

.header-title {
    font-size: 2.5rem;
    font-family: var(--Judul-font);
    font-weight: 600;
    margin: auto;
    letter-spacing: 10px;
}

.btn {
    display: inline-block;
    font-family: var(--main-font);
    padding: 1.5rem 4rem;
    background: var(--main-color);
    border-radius: 1rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 2rem;
    color: var(--second-bg-color);
    letter-spacing: .3rem;
    font-weight: 600;
    transition: .5 ease;
}

.btn:hover {
    box-shadow: none;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.android {
    height: auto;
}

.blog-post {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5rem;
    margin-bottom: 11rem;
}

.blog-post:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
}

.blog-post__img {
    min-width: 60rem;
    max-width: 60rem;
    overflow: hidden;
}

.blog-post__img img {
    width: 100%;
}

.blog-post__info {
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}


.blog-post__title {
    font-family: var(--main-font2);
    font-size: 3rem;
    margin: 1.5rem 0 1.5rem;
    color: var(--main-color);
}

.blog-post__date {
    font-family: var(--main-font2);
    color: var(--main-color);
    font-size: 1.5rem;
}

.blog-post__text {
    font-family: var(--main-font);
    margin-bottom: 2rem;
    font-size: 2.5rem;
    text-align: justify;
    line-height: 1.5;
    color: var(--text-color);
}

@media (max-width: 850px) {
    .header-title {
        font-size: 1.5rem;
    }

    .blog-post {
        padding: 20px;
        text-align: center;
        margin-bottom: 10rem;
        margin-top: 5rem;
    }

    .blog-post {
        flex-direction: column;
    }

    .blog-post__img {
        min-width: 35rem;
        max-width: 35rem;
        height: 16rem;
        transform: translate(0, -10rem);
    }
}

@media (max-width: 600px) {
    .back-link  {
        display: none;
    }
    .back-link2 {
        display: block;
    }
}

@media (max-width: 500px) {
    .header-title {
        font-size: 1.2rem;
    }
}

@media (max-width: 450px) {
    .header-title {
        font-size: 1rem;
    }

    .back-link2 {
        display: none;
    }

    .blog-post__img {
        min-width: 25rem;
        max-width: 25rem;
        height: 10rem;
    }
}

@media (max-width: 350px) {
    .header-title {
        font-size: 0.8rem;
    }
}